.footer {
    font-size: 12px;
    position: fixed;
    color: #ccc;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #2b2b2b;
    height: 40px;
    padding: 10px;
}
